* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  color: #757575;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin: 5.5rem 0 2rem 0;
}

.btn, .btn__about, .btn__masuk {
  background-color: #8bac3e;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.btn__masuk {
  justify-content: center;
  height: 2.625rem;
  border-radius: 1.3125rem;
  padding: 0.625rem 1.125rem;
}
.btn__about {
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 1.3125rem;
  padding: 0.625rem 1.125rem;
}
.btn__chevron {
  font-size: 1.134375rem;
  width: 2.0625rem;
  height: 2.0625rem;
  border-radius: 50%;
  background-color: #fff;
  color: #8bac3e;
}

.stars {
  color: #ff8412;
  display: flex;
  gap: 0.25rem;
  font-size: 0.6875rem;
}

.navbar {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 8.125rem 0 7.25rem;
  line-height: 1.375rem;
  font-weight: 500;
  font-size: 0.875rem;
}
.navbar__logo {
  width: 12.9375rem;
  height: 3.125rem;
}
.navbar__menu {
  display: flex;
  gap: 2rem;
  color: #757575;
}
.navbar__login {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 2.625rem;
  color: #333333;
}
@media (max-width: 800px) {
  .navbar {
    padding: 0 2.375rem 0 2.0625rem;
  }
  .navbar__logo {
    width: 9.375rem;
    height: 2.25rem;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__login > *:first-child {
    display: none;
  }
}

.hero {
  margin: 7.09375rem 9.375rem 0 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-bottom: 12.170625rem;
}
.hero__title {
  max-width: 30.125rem;
  font-size: 4rem;
  color: #8bac3e;
  font-weight: 500;
}
.hero__text {
  max-width: 30.125rem;
  color: #757575;
  font-size: 1.125rem;
  line-height: 1.8125rem;
  font-weight: 400;
}
.hero__teaser {
  position: absolute;
  right: 0;
  top: 0;
}
.hero__teaser-large {
  width: 25.80625rem;
  height: 25.921875rem;
}
.hero__inset {
  position: absolute;
  left: -7.5625rem;
  top: 21.889375rem;
}
.hero__container-btn {
  display: flex;
  gap: 1rem;
}
@media (max-width: 800px) {
  .hero {
    margin: 2.8125rem 2.375rem 0 2.0625rem;
  }
  .hero__teaser {
    position: relative;
    margin-bottom: 2rem;
  }
  .hero__teaser-large {
    width: 12.40625rem;
    height: 12.46875rem;
    margin: 2.19375rem;
  }
  .hero__inset {
    top: 10.9rem;
    left: 7.5rem;
  }
  .hero__text {
    max-width: 100%;
  }
}

.inset {
  font-family: "Open Sans", sans-serif;
  width: 18.25rem;
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0.6875rem 2.4375rem rgba(0, 0, 0, 0.07);
  border-radius: 1.0625rem;
  display: flex;
}
.inset__img {
  height: 3.3125rem;
  width: 3.3125rem;
  margin: 1.125rem 1.1875rem 1.375rem 1.4375rem;
}
.inset__title {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  height: 1.5rem;
  margin-top: 0.75rem;
  color: #000;
}
.inset__category {
  font-size: 0.75rem;
  color: #333333;
  line-height: 0.875rem;
  height: 0.9375rem;
  margin-bottom: 0.576875rem;
}

.category {
  padding: 4.01375rem 7.5rem 3.125rem 7.3125rem;
}
.category__title {
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 3.125rem;
  color: #333333;
  margin-bottom: 2.61125rem;
}
.category__title-green {
  color: #8bac3e;
}
.category__container {
  display: flex;
  gap: 0.625rem;
  height: 13.4375rem;
  align-items: flex-start;
  padding: 0.625rem 0;
  margin-bottom: 2.8125rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.category__item {
  text-align: center;
  color: #333333;
  width: 14.375rem;
  height: 10.9375rem;
  padding: 1.875rem 0;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.category__item:hover {
  height: 14.375rem;
}
.category__item-icon {
  height: 3rem;
}
.category__item-name {
  line-height: 1.375rem;
  font-weight: 500;
  margin: 1.5rem 0 0.25rem;
}
.category__item-items {
  font-size: 0.875rem;
  line-height: 1rem;
}
.category__btn-container {
  display: flex;
  gap: 0.8125rem;
  width: 100%;
  justify-content: flex-end;
}
.category__next-btn {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  border-radius: 1.5625rem;
  padding: 0.5625rem 0.8125rem;
  border: none;
  display: flex;
}
.category__btn-text {
  margin-left: 0.4375rem;
  margin-right: 0.75rem;
}
@media (max-width: 800px) {
  .category {
    padding: 6rem 3.375rem 16.625rem 3.0625rem;
  }
  .category__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 1rem;
  }
  .category__container {
    position: absolute;
    left: -2rem;
  }
  .category__btn-container {
    display: none;
  }
}

.trending {
  padding: 4.01375rem 6.875rem 3.125rem 7.5rem;
}
.trending__title {
  font-size: 2.375rem;
  font-weight: 500;
  line-height: 3.125rem;
  color: #333333;
  margin-bottom: 3.48625rem;
}
.trending__title-green {
  color: #8bac3e;
}
.trending__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.875rem 1.25rem;
  margin-bottom: 4.25rem;
}
.trending__item {
  border-radius: 1.0625rem;
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  padding-bottom: 1.875rem;
}
.trending__item-img {
  width: 7.384375rem;
  height: 7.5rem;
  margin: 2.0625rem 0 1.1875rem 1.2925rem;
  border-radius: 0.375rem;
}
.trending__item-detail {
  margin-left: 1.5625rem;
}
.trending__item-name {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 3.125rem;
  color: #000;
}
.trending__item-category {
  color: #8bac3e;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.333125rem;
  margin-bottom: 1.125rem;
}
.trending__btn {
  margin: auto;
  font-size: 1rem;
  line-height: 1.1875rem;
  font-weight: 500;
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .trending {
    padding: 0 3.375rem 3.125rem 3.0625rem;
  }
  .trending-img {
    height: 7.125rem;
    margin-top: 1.9375rem;
  }
  .trending__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .trending__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 18.25rem);
    gap: 1.25rem;
    margin-bottom: 8rem;
  }
  .trending__item:nth-child(5), .trending__item:nth-child(6), .trending__item:nth-child(7), .trending__item:nth-child(8) {
    display: none;
  }
  .trending__btn {
    display: none;
  }
}

.cupcake {
  background-color: #f0feeb;
}

.pizza {
  background-color: #e6f3f5;
}

.kebab {
  background-color: #eaeefa;
}

.doughnut {
  background-color: #f3f7d9;
}

.salmon {
  background-color: #f9eef3;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 8.9375rem 0 8.9375rem;
}
.bottom-nav__company {
  margin-top: 4.64375rem;
  width: 20.9375rem;
}
.bottom-nav__logo {
  width: 12.9375rem;
  height: 3.125rem;
  margin-bottom: 1.35625rem;
}
.bottom-nav__address {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #757575;
  margin-bottom: 2.0625rem;
}
.bottom-nav__btn-container {
  display: flex;
  gap: 0.5rem;
}
.bottom-nav__btn-item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: #8bac3e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-nav__btn-item:hover {
  background-color: #8bac3e;
  color: #fff;
}
.bottom-nav__section {
  margin-top: 4.9375rem;
}
.bottom-nav__subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #333333;
  margin-bottom: 2.0625rem;
}
.bottom-nav__subitem {
  font-size: 0.875rem;
  color: #757575;
  line-height: 1rem;
  margin-bottom: 1.1875rem;
}
.bottom-nav__discount {
  font-size: 0.875rem;
  color: #757575;
  line-height: 1.5rem;
  width: 15.3125rem;
}
.bottom-nav__form {
  font-size: 0.875rem;
  width: 11.875rem;
  border: solid 1px #000;
  color: #000;
  border-radius: 0.5rem 0 0 0.5rem;
  height: 2.5rem;
  padding-left: 0.9375rem;
  display: flex;
  position: relative;
}
.bottom-nav__form-input {
  line-height: 1.5rem;
  width: 8rem;
  border: none;
}
.bottom-nav__form-btn {
  position: absolute;
  height: inherit;
  top: -1px;
  right: -60px;
  border: none;
  font-weight: 500;
  line-height: 1.5rem;
  width: 3.75rem;
  padding: 0.5rem 0.5rem 0.5625rem 0.6875rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.bottom-nav__newsletter, .bottom-nav__newsletter-phone, .bottom-nav__newsletter-email {
  color: #000;
  line-height: 1.5rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.15625rem;
}
.bottom-nav__newsletter-email {
  margin: 1.1875rem 0 0.625rem 0;
}
.bottom-nav__newsletter-icon {
  color: #8bac3e;
}
@media (max-width: 800px) {
  .bottom-nav {
    display: none;
  }
}

.footer {
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.1875rem 0.625rem 2.1875rem;
  text-align: center;
}
.footer__text-desktop {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 5.5rem 0 2rem 0;
}
.footer__block {
  display: none;
  font-size: 0.875rem;
}
.footer__burger-bar {
  width: 2.4375rem;
  height: 0.203125rem;
  background-color: #757575;
  margin: 0.575625rem auto;
}
.footer__group-name {
  margin-top: 0.403125rem;
  line-height: 1.5rem;
}
@media (max-width: 800px) {
  .footer__text-desktop {
    display: none;
  }
  .footer__block {
    display: block;
  }
}/*# sourceMappingURL=App.css.map */