* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #e95;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  color: $text-light;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin: 5.5rem 0 2rem 0;
}

.btn {
  background-color: $primary-green;
  color: $text-button;
  display: flex;
  align-items: center;

  &__masuk {
    @extend .btn;
    justify-content: center;
    height: 2.625rem;
    border-radius: 1.3125rem;
    padding: 0.625rem 1.125rem;
  }

  &__chevron {
    font-size: 1.134375rem;
    width: 2.0625rem;
    height: 2.0625rem;
    border-radius: 50%;
    background-color: #fff;
    color: $primary-green;
  }
}

.stars {
  color: $star-color;
  display: flex;
  gap: 0.25rem;
  font-size: 0.6875rem;
}
