.navbar {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 8.125rem 0 7.25rem;
  line-height: 1.375rem;
  font-weight: 500;
  font-size: 0.875rem;

  &__logo {
    width: 12.94rem;
    height: 2.125rem;
  }

  &__menu {
    display: flex;
    gap: 2rem;
    color: $text-light;
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 13.4375rem;
    height: 2.625rem;
    color: $text-dark;
  }
}
