// Color variable - text
$text-light: #757575;
$text-dark: #333333;
$text-button: #fff;

// Color variable
$bg-cupcake: #f0feeb;
$bg-pizza: #e6f3f5;
$bg-kebab: #eaeefa;
$bg-salmon: #f9eef3;
$bg-doughnut: #f3f7d9;

// Color variable - generic
$primary-green: #8bac3e;
$lighter-green: #a4b441;
$purple: #b23f74;
$darker-blue: #405eb6;
$lighter-blue: #40a2b1;
$star-color: #ff8412;
